// Import your custom styles here. You have access to all the bootstrap variables. If you require
// your sass files separately, you will not have access to the bootstrap variables, mixins, clases, etc.
// Usually this endpoint-file contains list of @imports of your application styles.
/*
div.container > a.navbar-default.navbar-brand {
  color: rgb(248, 153, 29);
}
*/

body {
  color: $bean-color;
}

div.footer {
  text-align: center;
}

.navbar-brand {
  font-size: 3em;
}

.navbar-nav {
  vertical-align: bottom;
  li {
    border-style: none solid none none;
    border-right-width: thin;
    border-right-color: $bean-color;
  }
  li:last-of-type {
    border-style: none;
  }
}
