doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, intial-scale=1, maximum-scale=1, user-scalable=no')
    title= "Beanlamp"
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          .navbar-brand Beanlamp
          ul.nav.nav-pills
            li home
            li.active shop
            li about
            li contact
    div.container
      div Lamp that bean, baby.
    div.footer Copyright &copy; BeanLamp 2016
