doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title= "Beanlamp"
  body
    //nav.navbar.navbar-default
    div.container
      a.navbar-brand(href="/") Beanlamp
      ul.navbar-nav.nav
        li: a(href="#") home
        li: a(href="#") shop
        li: a(href="#") about
        li: a(href="#") contact
    div.container
      div Rattle that lock
    div.container.footer
      | Copyright &copy; BeanLamp&nbsp;
      script document.write(new Date().getFullYear())
